[Unit]
Description=I2NSF Controller

[Service]
User=osm
WorkingDirectory=/home/osm/controller
ExecStart=python3 /home/osm/controller/api.py
TimeoutStartSec=0
Restart=on-failure
StartLimitIntervalSec=60

[Install]
WantedBy=multi-user.target